<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
<rewrite>
    <rules>
<!--	    <rule name="Force HTTPS" enabled="true">
	        <match url="(.*)" ignoreCase="false" />
	        <conditions>
	            <add input="{HTTPS}" pattern="off" />
	        </conditions>
	        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="true" redirectType="Permanent" />
	    </rule>-->
        <rule name="Main Rule" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php?url={R:1}" />
        </rule>
    </rules>
</rewrite>
        <handlers>
            <remove name="PHP" />
            <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\xampp\php\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
