/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-mei-2017, 22:25:11
    Author     : Johan Polak
*/

.control-label{
    text-align: left !important;
}

.sub-header{
    padding: 0 0 15px 15px;
    font-size:25px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
}

.CheckboxWithPaddingLeft{
    padding-left: 15px;
}

.Registrate, .Cancel, .BottomButton{
    width: auto;
    min-width: 100px;
    float: right;
    margin: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.NoPadding {
    padding-left: 3px;
    padding-right: 3px;
}

.HoverNoLine:hover{
    font-style: normal;
}

.navbar-brand{
    padding-top: 0;
}

.navbar-logo{
    height: 50px;
}